.section_portafolio{
    background-image: url("/src/utils/wa.gif");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.portafolio_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Slider*/

.slider{
    /* border: 1px solid red;   */
    position: relative;
}

.slider_static{
    width: 100%;
    max-width: 700px;
    height: 100%;
    overflow: hidden;
}

.slider_move{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400%;
    transition: transform 900ms ease;
}

.slider_img_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.slider_img{
    width: 100%;
    object-fit: contain;
    transition: all 2.1s ease;
    border-radius: 20px;
    box-shadow: 6px 6px 10px -1px rgb(4, 118, 133),
    -5px -5px 10px -5px rgba(119, 119, 119, 0.89);
    transition: all .9s ease;
}
.slider_img:hover {
    transition: all .9s ease;
    box-shadow: 5px 5px 10px -5px rgba(119, 119, 119, 0.89),
    -6px -6px 10px -1px rgb(4, 118, 133);
    /* margin-left: 350px;
    margin-top: 5px; */
    transform: rotate(-2deg);
    filter: grayscale(80%);
}

.slider_prev, .slider_next{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 44px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(#022a3b,#0e455c,#0a4f6b );
    box-shadow: -2px -2px 6px rgb(136, 136, 136);
    color: white;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.9s ease;
}
.slider_prev{
    top: 5%;
    left: 5px;
    box-shadow: -4px -2px 6px rgba(119, 119, 119, 0.89);
}
.slider_next{
    bottom: 5%;
    right: 5px;
    box-shadow: 4px 2px 6px  rgb(4, 118, 133);
}
.slider_icon{
    transition: all 0.9s ease;
}
.slider_prev:hover{
    margin-left: 5px;
}
.slider_prev:hover .slider_icon{
    padding-right: 8px;
    transform: scale(1.5);
    text-shadow: 5px 0 1px rgb(36, 143, 214);
    transition: all 0.9s ease;
}
.slider_next:hover{
    margin-right: 5px;
}
.slider_next:hover .slider_icon{
    padding-left: 8px;
    transform: scale(1.5);
    text-shadow: -5px 0 1px rgb(36, 143, 214);
    transition: all 0.9s ease;
}


/**/

.slider_name{
    position: absolute;
    z-index: -1;
    transition: .5s;
    color: white;
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:20px;
    text-align: center;
    max-width: 20%;
}

.slider_img_container:hover .slider_name {
    position: absolute;
    padding: 0.5% 2%;
    z-index: 7;
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.733);
    backdrop-filter: blur(5px);
}
.img_icon{
    font-size: 40px;
    text-decoration: none;
    color: antiquewhite;
    transition: all .5s ease;
}
.img_icon:hover{
    transform: scale(1.1);
    transition: all .5s ease;
}

